{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>good_detail_page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/user_center_last.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/center_head.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/banner.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/user_center.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/layui/css/layui.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/issue_page.css" %}"/>
</head>

<body style="height: 200%">
{#头部背景#}
<div class="head_blue">
    {#头部中部分70%#}
    <div class="head_middle">
        {#头部中间商标背景div#}
        <div class="head_brand">
            {#头部中间商标#}
            <div>
                <a class="head_brand_middle" href="#"></a>
            </div>
        </div>
        {#头部首页#} <a id="home_page" href="index">HOME</a>
        {#头部淘宝#} <a id="home_taobao" href="https://www.ebay.com/">Ebay</a>
        {#头部拼多多#} <a id="home_pinduoduo" href="https://www.dealmoon.com/">Dealmoon</a>
        <div id="home_blank" href="/"></div>
        {% if nick_name == None %}
            {#头部用户#} <a id="home_user" href="register">Sign in</a>
            {#头部退出#} <a id="home_quit" href="login">Log in</a>
        {% else %}
            {#头部用户#} <a id="home_user" href="user_center">{{ nick_name }}</a>
            {#头部退出#} <a id="home_quit" href="logout">Log out</a>
        {% endif %}
    </div>
</div>
{#导航栏下方发布二手物品这一栏目#}
{#最大的一块的背景#}
<div class="issue_big_bg_white div_in_shuiping">
    <div class="issue_big_bg layui-form layui-form-pane div_in_juzhong">
        <div class="tiaozheng">
            <div class="shang_10 div_in_chuizhi">
                <p>Posted on：{{ goods_detail.create_time }}</p>
            </div>
            <div class="zuo_40">
                <img src="/media/img/{{ MEDIA_URL }}{{ goods_detail.img }}">
            </div>
            <div class="you_60">
                <div class="basic_class div_in_chuizhi">
                    <h2>{{ goods_detail.name }}</h2>
                </div>
                <div class="you_first div_in_chuizhi">
                    <p class="goods_text">price</p>
                    <p class="price_red">￥{{ goods_detail.price }}</p>
                </div>
                <div class="you_first div_in_chuizhi">
                    <p class="goods_text">shipping method</p>
                    <p class="deal_function1">
                        {% if goods_detail.trading == 1 %}
                            delivery by seller
                        {% endif %}
                        {% if goods_detail.trading == 2 %}
                            Pick up by buyer
                        {% endif %}
                        {% if goods_detail.trading == 3 %}
                            Face-to-face transaction
                        {% endif %}
                    </p>
                </div>
                <div class="you_first div_in_chuizhi">
                    <p class="goods_text">contact</p>
                    <p class="deal_function">email:</p>
                    <text>{{ goods_detail.master_email }}</text>
                </div>

                <div class="you_first div_in_chuizhi">
                    <p class="wechat_num">Phone #:</p>
                    <text>{{ goods_detail.master_pho }}</text>
                </div>
                <div class="bg_sum div_in_juzhong">
                    <button class="cart_button" onclick="join_cart({{ goods_detail.id }})">add to cart</button>
                </div>
            </div>
            <div class="erhuo_bg">
                <div class="erhuozuo div_in_juzhong">
                    <p class="erhuomiaoshu">description</p>
                </div>
                <div class="detal_bg div_in_juzhong">
                    <div class="detal_bg_middle">
                        <text class="detal">{{ goods_detail.detail }}</text>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "css/layui/layui.all.js" %}"></script>
<script type="text/javascript">
    function join_cart(id) {
        $.ajax({
            url: "join_cart",
            type: "GET",
            data: {"id": id},
            dataType: "json",
            success: function (data) {
                if (data == 1) {   //询问框
                    layer.msg("please login first!", {time : 2000});
                }
                if (data == 2) {
                     layer.msg("This item already exist in your cart!", {time : 1000}, function () {
                        window.location.href = "user_center";
                    });
                }
                if (data == 3) {
                    layer.msg("Added to cart successfully!", {time : 1000}, function () {
                        window.location.href = "user_center";
                    });
                }
                if (data == 4) {
                     layer.msg("system error", {time : 2000});
                }
                if (data == 5) {
                      layer.msg("This item was posted by yourself", {time : 2000});
                }
            },
            error: function () {
                layer.msg("error!", {time : 2000});
            }
        });
    }

</script>
</body>