{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/unslider.min.js" %}"></script>

    <title>OSU Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/index_show.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/center_head.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/banner.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/user_center.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/cart.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/layui/css/layui.css" %}"/>

</head>

<style type="text/css" media="screen">
    .tab-vertical .layui-tab-title li {
      display: list-item;
      border-bottom: 1px solid #e2e2e2;
      border-left: 3px solid #e2e2e2;
      border-right: 1px solid #e2e2e2;
      height:auto;
      line-height: 30px;
      padding: 0 10px;
      word-break:break-all;
      white-space: initial;
    }
    .tab-vertical .layui-tab-title {
      height: auto;
      background-color: #f8f8f8;
      font-size: 16px;
      font-weight: bold;
    }
    .tab-vertical .layui-tab-title .layui-this{
      background-color: #fff;
      border: 0px;
      border-right-color: #fff;
      border-left: 3px solid #28a3ef;
    }
    .layui-tab-title .layui-this:after{
      border: 0px solid #e2e2e2;
    }
</style>

<body>
{#头部背景#}
    <div class="head_blue">
        {#头部中部分70%#}
        <div class="head_middle">
            {#头部中间商标背景div#}
            <div class="head_brand">
                {#头部中间商标#}
                <div>
                    <a class="head_brand_middle" href="index">
                    </a>
                </div>
            </div>
            {#头部首页#} <a id="home_page" href="index">HOME</a>
            {#头部淘宝#} <a id="home_taobao" href="https://www.ebay.com/">Ebay</a>
            {#头部拼多多#} <a id="home_pinduoduo" href="https://www.dealmoon.com/">Dealmoon</a>
            {#头部空白#}
            <div id="home_blank" href="/"></div>
            {% if nick_name == None %}
                {#头部用户#} <a id="home_user" href="register">Register</a>
                {#头部退出#} <a id="home_quit" href="login">Log in</a>
            {% else %}
                {#头部用户#} <a id="home_user" href="user_center">{{ nick_name }}</a>
                {#头部退出#} <a id="home_quit" href="logout">Log out</a>
            {% endif %}
        </div>
    </div>

{#固定悬浮窗#}
    <div class="layui-row tab-vertical layui-tab" >
{#     选项卡#}
        <div class="layui-col-xs4 layui-col-md2">
            <div class="fixation_floating_bg">
                <ul class="layui-tab-title">
                    <li id="sl" class="layui-this">My Profile</li>
                    <li id="mycart" >My Cart</li>
                    <li id="myinfo" >My Selling List</li>
                    <li id="idk">IDK</li>
                </ul>
            </div>
        </div>
{#     内容#}
        <div class="layui-tab-content">
{#             show 1 个人信息修改#}
            <div class="layui-tab-item layui-show">
               <div class="big_bg">
                   <form class="layui-form" id="user_form" enctype="multipart/form-data">
                       <div class="issue_big_bg_middle div_in_shuiping">
                           <div class="issue_big_bg div_in_juzhong">
                               <div class="with_90">
                                   <input id="action_show_goods" type="file" name="file_img">
                                   <div class="issue_img_bg">
                                       <img id="img_show" src="{% static "img/1.JPG" %}">
                                   </div>

                                   <div class="layui-form-item input-line">
                                       <label class="layui-form-label">nick name</label>
                                       <div class="layui-input-inline" style="width: 390px;">
                                           <input id="new_name" type="text" name="new_name" autocomplete="off" placeholder="{{nick_name}}"
                                               class="layui-input goods-title">
                                       </div>
                                       <div class="layui-form-mid layui-word-aux">input new name and update</div>
                                   </div>
{#                                 password#}
                                   <div class="layui-form-item input-line">
                                       <label class="layui-form-label">password</label>
                                       <div class="layui-input-inline" style="width: 390px;">
                                           <input id="newpsw" type="password" name="password1" autocomplete="off" placeholder="input a new password to update"
                                               class="layui-input goods-title">
                                       </div>
                                   </div>

                                   <div class="layui-form-item input-line">
                                       <label class="layui-form-label">confirm new password</label>
                                       <div class="layui-input-inline" style="width: 390px;">
                                           <input id="newpsw1" type="password" name="password2" autocomplete="off" placeholder="input your new password again"
                                                  class="layui-input goods-title">
                                       </div>
                                   </div>

{#                                                contact info#}
                                   <div class="layui-form-item input-line" >
                                       <label class="layui-form-label">Phone #</label>
                                       <div class="layui-input-inline">
                                           <input id="pho_num" type="text" name="pho_num" autocomplete="off" placeholder="{{myphone}}"
                                                  class="layui-input phone-number">
                                       </div>
                                       <label class="layui-form-label">Email</label>
                                       <div class="layui-input-inline">
                                           <input id="email" type="email" name="email" autocomplete="off" placeholder="{{myemail}}"
                                                  class="layui-input goods-title">
                                       </div>
                                   </div>
                                   <button type="button" onclick="update()" class="layui-btn submit" id="button_act">Update</button>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
            </div>

{#             show 2 购物车#}
            <div class="layui-tab-item">
                <div class="tiaozheng">
                    {% if cart_list is None %}

                    {% endif %}

                    {% for foo in cart_list %}
                        <div class="show_1_1">
                            <div class="shang_10 div_in_chuizhi">
                                <p>Posted on：{{ foo.create_time }}</p>
                            </div>
{#                            <div class="tou_20 div_in_chuizhi">#}
{#                                <a>{{ foo.creat_time}}</a>#}
{#                            </div>#}

                            <div class="last_zuo div_in_juzhong">
                                <div >
                                     <a href="good_detail?id={{ foo.id }}">
                                        <img height="150" width="150" src="/media/img/{{ MEDIA_URL }}{{ foo.img }}">
                                     </a>
                                </div>
                            </div>

                            <div class="last_middle">
                                <div class="last_middle_1">
                                    <h2>{{ foo.name }}</h2>
                                </div>

                                <div class="last_middle_2">
                                    <h2 style="float: left">$</h2>
                                    <div class="jiage">{{ foo.price }}</div>
                                </div>
                            </div>

                            <div class="last_you div_in_juzhong">
                                <button class="del_buttun" onclick="del_cart({{ foo.id }})" style="cursor:pointer">remove
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

{#             show 3 selling list#}
            <div class="layui-tab-item">
                <div class="big_bg">
                    {% for foo in selling_list %}
                        <div class="show_1_1">
                            <div class="tou_20 div_in_chuizhi">
                                <h2>{{ foo.creat_time}}</h2>
                            </div>

                            <div class="last_zuo div_in_juzhong">
                                <div >
                                    <a href="good_detail?id={{ foo.id }}">
                                        <img height="50" width="50" src="/media/img/{{ MEDIA_URL }}{{ foo.img }}">
                                    </a>
                                </div>
                            </div>

                            <div class="last_middle">
                                <div class="last_middle_1">
                                    <h2>{{ foo.name }}</h2>
                                </div>

                                <div class="last_middle_2">
                                    <h2 style="float: left">$</h2>
                                    <div class="jiage">{{ foo.price }}</div>
                                </div>
                            </div>

                            <div class="last_you div_in_juzhong">
                                <button class="del_buttun2" onclick="modify_goods({{ foo.id }})" style="cursor:pointer">Edit
                                </button>
                                <button class="del_buttun2" onclick="del_good({{ foo.id }})" style="cursor:pointer">Delete
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{#             show 4#}
            <div class="layui-tab-item">
                <div class="big_bg">
                    sdjfaksdk
                </div>
            </div>
        </div>

    </div>








{#<script type="text/javascript" src="{% static "js/jquery/jquery-3.3.1.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/unslider.min.js" %}"></script>#}
<script src="{% static "css/layui/layui.js" %}"></script>

<script>
    layui.use(['element','layer'], function(){
        var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    });

    function update() {
        var formData = new FormData($("#user_form")[0]);

        if ($("#newpsw").val() != "") {
            if ($("#newpsw").val() != $("#newpsw1").val()){
                layer.msg("password unmatched!");
                return;
            }
        }
        $.ajax({
            type: "POST",
            url: "user_center",
            {#上传表单#}
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data == 1) {
                    layer.msg("this name already exists");
                }
                else if(data == 2) {
                    layer.msg("updated! If you change your email, please use your new email to login.");
                }
            },
            error: function () {
                layer.msg("unknown error");
            }
        });
    }

    function del_good(id) {
        //询问框
        layer.confirm('Do you want to delete it？Others will not see it anymore.', {
            btn: ['Yes', 'No'] //按钮
        }, function () {
            $.ajax({
                url: "del_good",
                type: "GET",
                data: {"id": id},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        window.location.reload();
                    }
                    if (data == 0) {
                        layer.msg("system error!");
                    }
                },
                error: function () {
                    layer.msg("error");
                }
            })
        }, function () {
        });
    }

    function del_cart(id) {
        layer.confirm('Do you want to remove it from your cart?', {
                        btn: ['Yes', 'No'] //按钮
                    }, function () {
                        $.ajax({
                            url: "del_cart",
                            type: "GET",
                            data: {"id": id},
                            dataType: "json",
                            success: function (data) {
                                if (data == 1) {   //询问框
                                    window.location.reload();
                                }
                                if (data == 0) {
                                    layer.msg("system error!");
                                }
                            },
                            error: function () {
                                layer.msg("error!");
                            }
                        });

                    }, function () {

                    });

    }

    function modify_goods(id){
	    window.location.href='modify_good?id='+id
    }




</script>


</body>
</html>